
.contact-container {
  min-height: 100vh;
  background-color: #3a5094;
  padding: 2rem;
  width: 80%;
  margin: 2rem auto;
  color: white;
}
.contact-container h2{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}
.contact-content {
  display: flex;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #395496;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contact-form-main {
  display: flex;
      flex-direction: column;
      width: 40%;
      background-color: #353943;
      padding: 2rem;
      border-radius: 2rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem; /* Reduced padding */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;

    &::after {
      margin-left: 0.2rem;
    }
  }

  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    padding: 0.5rem; /* Reduced padding */
    border: none;
    border-radius: 5px;
    background-color: #606473;
    color: white;
    font-size: 1rem;

    &::placeholder {
      color: #aab8d8;
    }
  }

  textarea {
    resize: vertical;
  }
}

.send-button {
  background-color: #353943;
  color: white;
  border: none;
  padding: 0.5rem 1rem; /* Reduced padding */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #00796c;
  }
}
