@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #3c4c92;

}
 
.landing-page {
  background-color: #3c4c92;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Start content from the top */
}
#landing {
  padding-top: 5rem; /* Adjust according to the navbar height */
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
    background-color:rgb(10 34 106 / 38%);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.portfolio-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: flex-start; /* Align text to the left */
  padding: 8rem 2rem; /* Add more padding for the hero section */
  width: 90%;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-button {
  background-color: #373a49;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.social-button:hover {
  background-color: #1e2b5a;
}

.social-button.github {
  background-color: rgb(14 71 101 / 68%);
  box-shadow: 4px 4px #0006;
}

.social-button.linkedin {
  background-color:rgb(14 71 101 / 68%);
  box-shadow: 4px 4px #0006;
}

.social-button.cv {
  background-color: rgb(14 71 101 / 68%);
  box-shadow: 4px 4px #0006;
}


.section {
  padding: 8rem 2rem;
  max-width: 960px;
  width: 90%;
  text-align: left; /* Align text in other sections to the left */
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.section p {
  line-height: 1.6;
}
#contact {
  background-color: #3a5094;
}
.logo {
  font-size: 20px;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.bounce {
  animation: bounce 2s ease-in-out infinite;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
