@use 'variables';

.projects-container {
 background-color: variables.$main-color;
  padding: 4rem;
  width: 90%;
  margin: auto 1rem;
  color: variables.$font-main-color;

  

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  
  .tab-navigation {
    display: flex;
    flex-wrap: wrap; // Allow wrapping
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  
    button {
      padding: 0.5rem 1.2rem;
      background-color: transparent;
      border: none;
      border-radius: 1rem;
      color: variables.$font-main-color;;
      font-weight: 700;
      font-size: 1.1rem;
      cursor: pointer;
      transition: all 0.3s ease;

  
      &:hover {
        background-color: variables.$hover-main-color;
        color: variables.$font-main-color;

        transform: scale(1.05);

      }
  
      &.active {
        background-color: #00a884;
        color: white;
        font-weight: bold;

        animation: bounce 0.4s ease infinite;
      }
    }
    @media (max-width: 768px) {
      button {
        flex: 1 1 100%; // One button per row
      text-align: center;
      }
    }
  }
  

  .project-content {
    background-color: #ccc;
    padding: 2rem;
    border-radius: 8px;

    h3 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .projects-container {
    padding: 0;
  }
}