.projects-container {
  min-height: 100vh;
  background-color: #0d1116;
  // background-color: #2c3568;
  // background-color: #3a5094;
  padding: 2rem;
  width: 80%;
  margin: 2rem auto;
  color: white;
  

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  
  .tab-navigation {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #333c66;
  
    button {
      padding: 0.5rem 1.2rem;
      background-color: transparent;
      border: none;
      border-radius: 1rem;
      color: #b0b3c5;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #3f4a7d;
      }
  
      &.active {
        background-color: #00a884;
        color: white;
        font-weight: bold;
        animation: bounce 0.4s ease infinite;
      }
    }
  }
  

  .project-content {
    background-color: #353943;
    padding: 2rem;
    border-radius: 8px;

    h3 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }
}